<ul class="posts-container">
      <% posts.forEach(post => { %>
          <li>
            <div class="post">
              <div class="post-header">
                <% if (user && (user.club_id == post.club_id)) { %> 
                    <span class="post-author"><%= post.poster_name %></span>
                  <% } else { %>
                    <span class="post-author">****</span>
                    <% } %>
                posted in
                <span class="post-club-name"><%= post.club_name %></span>
              </div>
              <div class="post-content">
                <h1 class="post-title"> <%= post.title %></h1>
                <div class="post-message"><%= post.message %></div>
                <div class="post-timestamp"><%= `${post.date_posted.getMonth()}/${post.date_posted.getDate()}/${post.date_posted.getFullYear()}` %></div>
              </div>
            </div> 
          </li>
      <% }) %>
    </ul>