<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Clubs</title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="content">
        <h1 class="greeting">
            Clubs
            <% if (currentUser) { %> 
                <a href="clubs/new" title="Create a new club">
                        <i data-lucide="circle-plus" style="color: #2C3E50"></i>
                    </a>
            <% } %>
        </h1>
        
        <ul class="clubs-container">
            <% clubs.forEach(club => { %> 
                    <li class="club-card">
                        <div class="club-card-header">
                            <a href=<%=`/clubs/${club.id}/view`%>><%= club.name %></a>
                        </div>
                        <div class="club-card-members">
                            <i data-lucide="users-round" style="color: #2C3E50"></i> <%= club.size %>
                        </div>
                        <div class="club-card-description">
                            <%= club.description %>
                        </div>
                        <a href=<%-`/clubs/${club.id}/view`%>>
                            <button class="club-card-join-btn">View Club</button>
                        </a>
                     </li>
            <% }) %>
        </ul>
    </div>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
</body>
</html>