<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Club name</title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="content">
        <div class="club-page top-container">
            <div class="club-page title"><h1><%= club.name %></h1></div>
            <div class="club-page description"><p> <%= club.description %></p></div>
                <% if (currentUser) { %>
                    <% if (currentUser.club_id == club.id) { %>
                            <%- include("./partials/createPost.ejs") %>
                        <% } else {%>
                            <form action="" method="post">
                                <label for="passcode">Enter the passcode:</label>
                                <input type="password" name="passcode" id="passcode">
                                <button type="submit">Join</button>
                            </form>
                        <% } %>
                <% }%>
        </div>
        <%- include("./partials/loadAllPosts.ejs") %>
    </div>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
</body>
</html>